ul {
  display: flex;
  list-style-type: none;
  margin-left: 12.5%;
  margin-right: 12.5%;
  padding: 0;
  background-color: #554577;
}

li {
  margin: 0 10px;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}
